{% include 'navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Add Product Form</h1>
    <form method="POST"  enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}
    
        <!-- Using the formset -->
        {{ form.as_p }}
        
        <button type="submit" value="Submit">SUBMIT</button>
    </form>

   

    <h1 style="color: red;">
    {{success}}
    </h1>
{% else %}

    <h3>Login required to view this page</h3>
{% endif %}
</body>
</html>